:root {
  --violet: #674baf;
  --soft-magenta: #e882e8;
}

body {
  background-color: var(--violet);
}

.header .navbar img {
  width: 100px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
