:root {
  --violet: #674baf;
  --soft-magenta: #e882e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?txpsj6");
  src: url("../fonts/icomoon.eot?txpsj6#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?txpsj6") format("truetype"),
    url("../fonts/icomoon.woff?txpsj6") format("woff"),
    url("../fonts/icomoon.svg?txpsj6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-social1:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-social2:before {
  content: "\e902";
}

body {
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top 0;
  background-size: contain;
  background-color: var(--violet);
}

.header .navbar img {
  width: 150px;
}

.container .mockups img {
  width: 100%;
}

.container .text {
  color: white;
}
.container .text h2 {
  font-size: 24px;
  line-height: 150%;
}
.container .text .btn-huddle {
  width: 200px;
  height: 35px;
  border-radius: 50px;
  color: var(--violet);
  background-color: white;
}
.container .text .btn-huddle:hover {
  color: white;
  background-color: var(--soft-magenta);
}

.footer .icon {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
.footer .icon:hover {
  color: var(--soft-magenta);
}
.footer .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.footer .attribution a {
  color: var(--soft-magenta);
}
